/* .admin-dashboard {
  background-color: rgb(62 68 82);
  width: 100%;
  height: 100%;
} */

.login-text {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.label {
  /* font-size: 20px; */
  margin-bottom: 15px;
}

input[type="email"] {
  width: 70%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 70%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* .create {
  color: #e31b6d;
} */
.login-form-title {
  text-align: center;
}

.admin-container {
  background-color: rgb(62 68 82) !important;
  width: 100%;
  height: 100%;
  position: absolute;
}

.login-button {
  margin-top: 20px;
  width: 40%;
  padding: 10px;
  background-color: #e31b6d;
  border-color: #e31b6d;
  text-align: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
input[type="file"] {
  margin-top: 10px;
}
.create {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 60px;
  margin: 50px auto;
  width: 50%;
  /* position: absolute;
  z-index: 1; */
}

@keyframes slideNavLink {
  from {
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* .navigation__link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}
.navigation__column input {
  padding: 5px 0;
  padding-left: 60px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fafafa;
  font-size: 16px;
}
.navigation__column input:focus {
  outline: none;
  border: 1px solid #a9a9a9;
}
.navigation__column {
  position: relative;
}
.navigation__column .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
} */
