.blogs-page-container {
  background-color: rgb(62 68 82) !important;
  width: 100%;
  height: 100%;
  position: absolute;
}

.blogs-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 50px auto;
  width: 50%;
}

.blog-title {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 40px;
}

.blog-description {
  /* font-family: "Crimson Text", serif; */
}
