.dashboard-container {
  background-color: rgb(62 68 82) !important;
  width: 100%;
  height: 100%;
  position: absolute;
}

.text {
  color: #ffffff;
  text-align: center;
}

.create {
  color: #e31b6d;
}

.clearfix {
  clear: both;
}

.blogs-dashboard {
  float: left;
  width: 45%;
}

.gallery-dashboard {
  float: right;
  width: 45%;
}

.button-logout {
  z-index: 1;
  position: absolute;
  color: #ffffff;
  background-color: #e31b6d;
  padding: 4px 20px;
  border-radius: 8px;
}
