.section-list li {
  list-style-type: none;
  display: inline-block;
  color: #ffffff;
  padding-right: 20px;
  font-size: 25px;
  font-style: italic;
}

.sidenav-container {
  width: 30%;
}

.section-list-element a {
  color: #ffffff;
}
